## proximity search with geohash

https://eugene-eeo.github.io/blog/geohashing.html

### Problem statement
Show me a list of points that are a certain distance (x) away from some point (p)

### Algorithm
- Determine the amount of precision we need (no of characters) to make this search. Strip excess characters from the geohash of p, and call this p'.
- Find a list of geohashes prefixed with p'.
- Convert said geohashes to coordinates and return those which are ≤ x away.

In [1]:
import pygeohash as pgh
import geopandas as gpd
import pandas as pd

WARNING:root:Numpy and Numba are soft dependencies to use the numba geohashing functions.
Can only import/use native python functions.

In [2]:
import sys
sys.path.append("../")

In [3]:
gdf_rand_points = gpd.read_file("../../data/maryland_demo/rand_dc_point.geojson")

In [104]:
#radius (in degree for simplicity)
radius = 0.03

In [105]:
cid = "bafybeia7jlkyzt22qgh66felldr322l5c7jdvm4xspr222f4usnd2ttbze"

## Local file

In [138]:
original_gdf = gpd.read_file("../../data/maryland_demo/dc_restaurants.geojson")

## Plain IPFS

In [106]:
from geohashtree.filesystem import *

In [107]:
original_gdf = ipfs_get_feature(cid)

 10.19 MiB / 10.19 MiB  100.00% 0s

In [108]:
original_gdf

,full_id,osm_id,osm_type,amenity,atm,opening_hours:bar,survey:date,brewery,payment:cheque,tourism,...,brand:wikidata,brand,addr:suite,addr:street,addr:state,addr:postcode,addr:housenumber,addr:city,entrance,geometry
0,n255342748,255342748,node,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,POINT (-76.94680 38.99221)
1,n255342809,255342809,node,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emergency,POINT (-76.94647 38.99222)
2,n258062907,258062907,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,Q5017108,Cafe Rio,D,Burke Centre Parkway,VA,22015,6003,Burke,NaN,POINT (-77.29676 38.78693)
3,n260321689,260321689,node,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,POINT (-76.94334 38.98321)
4,n260321700,260321700,node,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,POINT (-76.94354 38.98330)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,n11275845269,11275845269,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Arlington Boulevard,VA,22042,7236,NaN,NaN,POINT (-77.19543 38.86694)
2671,n11282521337,11282521337,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Little River Turnpike,VA,NaN,7438,NaN,NaN,POINT (-77.20221 38.83249)
2672,n11285160608,11285160608,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,New Jersey Avenue Northwest,NaN,NaN,1545,NaN,NaN,POINT (-77.01643 38.91095)
2673,n11286073597,11286073597,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,K Street Northwest,NaN,NaN,1108,NaN,NaN,POINT (-77.02754 38.90226)
2674,n11289765028,11289765028,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.03241 38.90226)

In [109]:
#spatial join

In [110]:
gdf_radius = gpd.GeoDataFrame({'geometry':gdf_rand_points.buffer(radius)})

gpd.sjoin(original_gdf,gdf_radius)

/var/folders/6s/50fzkjrx159f42s0rpvmm4180000gn/T/ipykernel_34141/2056157094.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_radius = gpd.GeoDataFrame({'geometry':gdf_rand_points.buffer(radius)})

,full_id,osm_id,osm_type,amenity,atm,opening_hours:bar,survey:date,brewery,payment:cheque,tourism,...,brand,addr:suite,addr:street,addr:state,addr:postcode,addr:housenumber,addr:city,entrance,geometry,index_right
26,n474123663,474123663,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,The Original Pancake House,NaN,Wisconsin Avenue,MD,20814,7700,Bethesda,NaN,POINT (-77.09555 38.98665),0
36,n498679926,498679926,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09623 38.98778),0
47,n568132419,568132419,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Woodmont Avenue,NaN,NaN,8225,NaN,NaN,POINT (-77.09687 38.99230),0
613,n1324379784,1324379784,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09608 38.99153),0
614,n1325788725,1325788725,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,Morton's The Steakhouse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09450 38.98411),0
914,n2648746489,2648746489,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Grubb Road,NaN,20910,8301,NaN,NaN,POINT (-77.04878 38.99239),0
966,n2812475004,2812475004,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Cordell Avenue,NaN,20814,4828,Bethesda,NaN,POINT (-77.09675 38.99055),0
1061,n3355401779,3355401779,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Brookville Road,MD,20815,7101,Chevy Chase,NaN,POINT (-77.07128 38.98140),0
1120,n3632310649,3632310649,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09670 38.99021),0
1186,n3862896802,3862896802,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09437 38.98299),0
1427,n4829739078,4829739078,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Woodmont Avenue,MD,20814,7715,Bethesda,yes,POINT (-77.09590 38.98789),0
1428,n4829739094,4829739094,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Woodmont Avenue,MD,20814,7731,Bethesda,yes,POINT (-77.09588 38.98804),0
1506,n5075911205,5075911205,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wisconsin Avenue,MD,20814,7100,Bethesda,NaN,POINT (-77.09245 38.98018),0
1764,n6235177257,6235177257,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.04073 39.00896),0
1765,n6235177261,6235177261,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.04080 39.00892),0
1872,n6572802238,6572802238,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09137 38.98479),0
1873,n6573021575,6573021575,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.08858 38.98477),0
1880,n6584594521,6584594521,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wisconsin Avenue,MD,NaN,7345,NaN,NaN,POINT (-77.09342 38.98321),0
1881,n6584594524,6584594524,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wisconsin Avenue,NaN,NaN,7345,NaN,NaN,POINT (-77.09339 38.98315),0
1885,n6597152729,6597152729,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,Ruth's Chris Steak House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09304 38.98244),0
1886,n6610524277,6610524277,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09444 38.98634),0
2062,n8402911162,8402911162,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Kensington Parkway,MD,20895,10301,Kensington,NaN,POINT (-77.07094 39.02536),0
2089,n8657417714,8657417714,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Warren Street,MD,NaN,9224,Silver Spring,NaN,POINT (-77.04927 39.00655),0
2168,n9095808575,9095808575,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.04102 39.00892),0
2515,n10909061228,10909061228,node,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,main,POINT (-77.05547 39.01506),0

## Postgis

In [ ]:
#run docker daemon and the following command to spin up postgresql
# docker-compose up

In [143]:
asset = "dc_restaurants"

In [ ]:
import geopandas as gpd
from sqlalchemy import create_engine

# Load GeoJSON into a GeoDataFrame
gdf = gpd.read_file("../../data/maryland_demo/dc_restaurants.geojson")

# Connect to PostgreSQL
engine = create_engine('postgresql://user:password@localhost:5432/geodb')

In [141]:
# Load data into PostgreSQL
gdf.to_postgis('dc_restaurants', engine, if_exists='replace', index=False)

In [144]:
import psycopg2

# Parameters for connection
params = {
    'dbname': 'geodb',
    'user': 'user',
    'password': 'password',
    'host': 'localhost',
    'port': '5432'
}

# Create a connection and cursor
conn = psycopg2.connect(**params)
cur = conn.cursor()

# Execute the CREATE INDEX command
cur.execute(f'CREATE INDEX ON {asset} USING gist(geometry)')

# Commit the changes and close the connection
conn.commit()
cur.close()
conn.close()

In [147]:
# store query target geodataframe into database
gdf_radius.to_postgis("temp_table", engine, if_exists="replace")

In [148]:
sql = f"""
SELECT {asset}.*
FROM {asset}, temp_table
WHERE ST_Intersects({asset}.geometry, temp_table.geometry);
"""

In [149]:

# Fetch the results into a DataFrame or a GeoDataFrame
df_result = gpd.read_postgis(sql, engine,geom_col="geometry")

In [150]:
df_result

,full_id,osm_id,osm_type,amenity,atm,opening_hours:bar,survey:date,brewery,payment:cheque,tourism,...,brand:wikidata,brand,addr:suite,addr:street,addr:state,addr:postcode,addr:housenumber,addr:city,entrance,geometry
0,n6235177257,6235177257,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.04073 39.00896)
1,n6235177261,6235177261,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.04080 39.00892)
2,n8657417714,8657417714,node,restaurant,None,None,None,None,None,None,...,None,None,None,Warren Street,MD,None,9224,Silver Spring,None,POINT (-77.04927 39.00655)
3,n9095808575,9095808575,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.04102 39.00892)
4,n474123663,474123663,node,restaurant,None,None,None,None,None,None,...,Q7755384,The Original Pancake House,None,Wisconsin Avenue,MD,20814,7700,Bethesda,None,POINT (-77.09555 38.98665)
5,n498679926,498679926,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.09623 38.98778)
6,n568132419,568132419,node,restaurant,None,None,None,None,None,None,...,None,None,None,Woodmont Avenue,None,None,8225,None,None,POINT (-77.09687 38.99230)
7,n1324379784,1324379784,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.09608 38.99153)
8,n1325788725,1325788725,node,restaurant,None,None,None,None,None,None,...,Q17022759,Morton's The Steakhouse,None,None,None,None,None,None,None,POINT (-77.09450 38.98411)
9,n2648746489,2648746489,node,restaurant,None,None,None,None,None,None,...,None,None,None,Grubb Road,None,20910,8301,None,None,POINT (-77.04878 38.99239)
10,n2812475004,2812475004,node,restaurant,None,None,None,None,None,None,...,None,None,None,Cordell Avenue,None,20814,4828,Bethesda,None,POINT (-77.09675 38.99055)
11,n3355401779,3355401779,node,restaurant,None,None,None,None,None,None,...,None,None,None,Brookville Road,MD,20815,7101,Chevy Chase,None,POINT (-77.07128 38.98140)
12,n3632310649,3632310649,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.09670 38.99021)
13,n3862896802,3862896802,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.09437 38.98299)
14,n4829739078,4829739078,node,restaurant,None,None,None,None,None,None,...,None,None,None,Woodmont Avenue,MD,20814,7715,Bethesda,yes,POINT (-77.09590 38.98789)
15,n4829739094,4829739094,node,restaurant,None,None,None,None,None,None,...,None,None,None,Woodmont Avenue,MD,20814,7731,Bethesda,yes,POINT (-77.09588 38.98804)
16,n5075911205,5075911205,node,restaurant,None,None,None,None,None,None,...,None,None,None,Wisconsin Avenue,MD,20814,7100,Bethesda,None,POINT (-77.09245 38.98018)
17,n6572802238,6572802238,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.09137 38.98479)
18,n6573021575,6573021575,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.08858 38.98477)
19,n6584594521,6584594521,node,restaurant,None,None,None,None,None,None,...,None,None,None,Wisconsin Avenue,MD,None,7345,None,None,POINT (-77.09342 38.98321)
20,n6584594524,6584594524,node,restaurant,None,None,None,None,None,None,...,None,None,None,Wisconsin Avenue,None,None,7345,None,None,POINT (-77.09339 38.98315)
21,n6597152729,6597152729,node,restaurant,None,None,None,None,None,None,...,Q7382829,Ruth's Chris Steak House,None,None,None,None,None,None,None,POINT (-77.09304 38.98244)
22,n6610524277,6610524277,node,restaurant,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,POINT (-77.09444 38.98634)
23,n8402911162,8402911162,node,restaurant,None,None,None,None,None,None,...,None,None,None,Kensington Parkway,MD,20895,10301,Kensington,None,POINT (-77.07094 39.02536)
24,n10909061228,10909061228,node,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,main,POINT (-77.05547 39.01506)

## Detached Tree

In [ ]:
# query processor

In [4]:
from geohashtree.geohash_func import geohashes_covering_circle, bounding_box
from geohashtree.geohashtree import LiteTreeOffset
from geohashtree.filesystem import ipfs_get_index_folder,extract_and_concatenate_from_ipfs

In [5]:
centre = (gdf_rand_points.geometry.values[0].x,gdf_rand_points.geometry.values[0].y)
centre

(-77.06817861047044, 38.99752107280757)

In [125]:
# geohash resolution for the finest part
precision = 6

In [133]:
result_hashes = geohashes_covering_circle(*centre,radius,precision)

In [114]:
tree = LiteTreeOffset()

Index Mode: offline

In [115]:
index_cid = "bafybeib6ex2onm2wk5wxrdfe73l4m3la3c35nr5f4b4trbtidqaofduqiu"

In [116]:
local_index_path = "../data/test/offset_index"

In [117]:
ipfs_get_index_folder(index_cid,local_index_path)

 121.42 KiB / 121.42 KiB  100.00% 0s

'Saving file(s) to ../data/test/offset_index\n'

In [130]:
tree.count(result_hashes,local_index_path)

85

In [135]:
retr = tree.retrieve(result_hashes,local_index_path)

86

In [136]:
gdf_radius = gpd.GeoDataFrame({'geometry':gdf_rand_points.buffer(radius)})

gpd.sjoin(retr,gdf_radius)

/var/folders/6s/50fzkjrx159f42s0rpvmm4180000gn/T/ipykernel_34141/625972291.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_radius = gpd.GeoDataFrame({'geometry':gdf_rand_points.buffer(radius)})

,full_id,osm_id,osm_type,amenity,atm,opening_hours:bar,survey:date,brewery,payment:cheque,tourism,...,brand,addr:suite,addr:street,addr:state,addr:postcode,addr:housenumber,addr:city,entrance,geometry,index_right
0,n10909061228,10909061228,node,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,main,POINT (-77.05547 39.01506),0
3,n474123663,474123663,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,The Original Pancake House,NaN,Wisconsin Avenue,MD,20814,7700,Bethesda,NaN,POINT (-77.09555 38.98665),0
4,n498679926,498679926,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09623 38.98778),0
6,n568132419,568132419,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Woodmont Avenue,NaN,NaN,8225,NaN,NaN,POINT (-77.09687 38.99230),0
27,n1324379784,1324379784,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09608 38.99153),0
28,n1325788725,1325788725,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,Morton's The Steakhouse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09450 38.98411),0
34,n2648746489,2648746489,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Grubb Road,NaN,20910,8301,NaN,NaN,POINT (-77.04878 38.99239),0
36,n2812475004,2812475004,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Cordell Avenue,NaN,20814,4828,Bethesda,NaN,POINT (-77.09675 38.99055),0
37,n3355401779,3355401779,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Brookville Road,MD,20815,7101,Chevy Chase,NaN,POINT (-77.07128 38.98140),0
40,n3632310649,3632310649,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09670 38.99021),0
41,n3862896802,3862896802,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09437 38.98299),0
48,n4829739078,4829739078,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Woodmont Avenue,MD,20814,7715,Bethesda,yes,POINT (-77.09590 38.98789),0
49,n4829739094,4829739094,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Woodmont Avenue,MD,20814,7731,Bethesda,yes,POINT (-77.09588 38.98804),0
51,n5075911205,5075911205,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wisconsin Avenue,MD,20814,7100,Bethesda,NaN,POINT (-77.09245 38.98018),0
60,n6235177257,6235177257,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.04073 39.00896),0
61,n6235177261,6235177261,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.04080 39.00892),0
63,n6572802238,6572802238,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09137 38.98479),0
64,n6573021575,6573021575,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.08858 38.98477),0
65,n6584594521,6584594521,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wisconsin Avenue,MD,NaN,7345,NaN,NaN,POINT (-77.09342 38.98321),0
66,n6584594524,6584594524,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wisconsin Avenue,NaN,NaN,7345,NaN,NaN,POINT (-77.09339 38.98315),0
67,n6597152729,6597152729,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,Ruth's Chris Steak House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09304 38.98244),0
68,n6610524277,6610524277,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.09444 38.98634),0
73,n8402911162,8402911162,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Kensington Parkway,MD,20895,10301,Kensington,NaN,POINT (-77.07094 39.02536),0
75,n8657417714,8657417714,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Warren Street,MD,NaN,9224,Silver Spring,NaN,POINT (-77.04927 39.00655),0
77,n9095808575,9095808575,node,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-77.04102 39.00892),0

In [ ]:
import pygeohash as pgh
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from shapely.geometry import Point, box
import os
import contextily as cx

In [ ]:
asset = "dc_restaurants"

### query data

In [ ]:
gdf = gpd.read_file(f"../../data/maryland_demo/{asset}_cid.geojson")

In [ ]:
gdf.crs

In [ ]:
# Calculate the bounding box
bounds = gdf.total_bounds
bbox = box(bounds[0], bounds[1], bounds[2], bounds[3])
gdf_bbox = gpd.GeoDataFrame({'geometry': [bbox]}, crs="EPSG:4326")

In [ ]:
# Generate one random point within the bounding box
rand_points = []
for _ in range(1):
    x = np.random.uniform(bounds[0], bounds[2])
    y = np.random.uniform(bounds[1], bounds[3])
    rand_points.append(Point(x, y))
gdf_rand_points = gpd.GeoDataFrame({'geometry': rand_points}, crs="EPSG:4326")

# Plot the bounding box and the random points
fig, ax = plt.subplots()
gdf_bbox.boundary.plot(ax=ax, color='blue', linewidth=2, label='Bounding Box')
gdf.plot(ax=ax, color='green', markersize=10, label='Original Points')
gdf_rand_points.plot(ax=ax, color='red', markersize=50, label='Random Points')
ax.legend()
plt.show()

In [ ]:
gdf_rand_points.to_file("../../data/maryland_demo/rand_dc_point.geojson")

In [ ]:
gdf_rand_points = gpd.read_file("../../data/maryland_demo/rand_dc_point.geojson")

In [ ]:
# use the random point for neighbor query
q_lng,q_lat = gdf_rand_points.iloc[0].geometry.x,gdf_rand_points.iloc[0].geometry.y

In [ ]:
q_geohash = pgh.encode(latitude=q_lat, longitude=q_lng,precision=5)

In [ ]:
q_geohash

### Rook and Queen neighbor

In [ ]:
def rook_neighbors(geohash: str) -> list:
    import pygeohash as pgh
    nei = []
    directions = ["top","right","bottom","left"]
    for dir in directions:
        nei.append(pgh.get_adjacent(geohash,dir))
    return nei
def queen_neighbors(geohash: str) -> list:
    import pygeohash as pgh
    nei = rook_neighbors(geohash)
    directions = ["right","bottom","left","top"]
    for i in range(4):
        nei.append(pgh.get_adjacent(nei[i],directions[i]))
    return nei

In [ ]:
rn = rook_neighbors(q_geohash)
qn = queen_neighbors(q_geohash)

In [ ]:
qn

#### visualization

In [ ]:
def geohash_to_gdf(geohash):
    import geopandas as gpd
    import pygeohash as pgh
    from shapely.geometry import Polygon
    mid_lat,mid_lon,d_lat,d_lon = pgh.decode_exactly(geohash)

    min_longitude, max_longitude = mid_lon-d_lon, mid_lon+d_lon
    min_latitude, max_latitude = mid_lat-d_lat,mid_lat+d_lat

    polygon = Polygon([
            (min_longitude, min_latitude),
            (max_longitude, min_latitude),
            (max_longitude, max_latitude),
            (min_longitude, max_latitude),
            (min_longitude, min_latitude)
        ])
    #print(polygon)
    # Create a GeoDataFrame
    gdf = gpd.GeoDataFrame({'geometry': [polygon],'geohash': [geohash]})
    return gdf

In [ ]:
rn_gdf = pd.concat([geohash_to_gdf(geohash) for geohash in rn])
qn_gdf = pd.concat([geohash_to_gdf(geohash) for geohash in qn])

In [ ]:
rn_gdf.geometry.bounds

In [ ]:
rb_gdf.iloc[-1].geometry.bounds

In [ ]:
import leafmap.leafmap as leafmap

In [ ]:
m = leafmap.Map(center=[39, -77], zoom=10)
m.add_gdf(rn_gdf, "Rook neighbors")
m

In [ ]:
m = leafmap.Map(center=[39, -77], zoom=10)
m.add_gdf(qn_gdf, "Queen neighbors")
m

In [ ]:
m = leafmap.Map(center=[39, -77], zoom=10)

m.add_gdf(gdf,"features")
m.add_gdf(qn_gdf, "Queen neighbors")
m

In [ ]:
qn_gdf.plot()

In [ ]:
#aux data: dc boundary
dc_outline = gpd.read_file("../../data/maryland_demo/Washington_DC_Boundary.geojson")

In [ ]:
dc_outline.plot( facecolor='none',edgecolor="k")

In [ ]:
# Plot the bounding box and the random points
df_wm = qn_gdf.to_crs(epsg=3857)
ax = df_wm.plot(figsize=(10, 10), alpha=0.3, edgecolor="k")
dc_outline.to_crs(epsg=3857).plot(ax=ax, facecolor='none',edgecolor="k")
#.plot(ax=ax, facecolor="none",edgecolor="blue", label='Queen neighbors')
gdf.to_crs(epsg=3857).plot(ax=ax, color='green', markersize=7, label='Restaurants')
gdf_rand_points.to_crs(epsg=3857).plot(ax=ax, color='red', markersize=50, label='Query target')
#cx.add_basemap(ax,zoom=10)

ax.legend()
plt.show()

### Query geohash

In [ ]:
# load index structure

## from file structure
def compose_path(s,root):
    """
    compose path a/ab/abc for geohash `abc`
    """
    path = [root]
    for i in range(len(s)):
        path.append(s[:i+1])
    return "/".join(path)

def process_leaf_node(leaf):
    """
    process index leaf.
    leaf: txt file path of a index leaf, like a//ab/abc.txt
    """
    with open(leaf, 'r', encoding='utf-8') as file:
        lines = file.readlines()
    return [line.strip() for line in lines]

def traverse_sub_node(node):
    """
    recursively collect all the leaf node under the current node
    """
    import os
    
    results=[]
    excludes = [".ipynb_checkpoints"]
    # Get list of items in the directory
    subfolders = [d for d in os.listdir(node) if os.path.isdir(os.path.join(node, d)) and d not in excludes]
    # If there are subfolders, traverse them
    if subfolders:
        for subfolder in subfolders:
            results.extend(traverse_sub_node(os.path.join(node, subfolder)))
    else:
        # Otherwise, process txt files in the directory
        txt_files = [f for f in os.listdir(node) if f.endswith('.txt')]
        for txt_file in txt_files:
            results.extend(process_leaf_node(os.path.join(node, txt_file)))
    return results
def query_feature_cid_by_geohash(geohash: str, index_root: str) -> list:
    """
    find matching geohash or sub-level hashs
    """
    import os
    target_path = compose_path(geohash,index_root)
    cid_list = []
    if os.path.exists(target_path):
        cid_list = traverse_sub_node(target_path)
    if os.path.exists(target_path+'.txt'):
        cid_list = process_leaf_node(target_path+'.txt')
    return cid_list

In [ ]:
q_geohash

In [ ]:
#demo
query_feature_cid_by_geohash(q_geohash,f"../data/geohash_{asset}/index")

In [ ]:
geohash_neighbors = qn

In [ ]:
qn

In [ ]:
#debugging
results = []
for nei in geohash_neighbors:
    query = query_feature_cid_by_geohash(nei,f"../data/geohash_{asset}/index")
    if query:
        results.extend(query)
gdf[gdf.single_cid.isin(results)].single_path

In [ ]:
def multi_geohash_query(geohashes,index_root):
    results = []
    for nei in geohashes:
        query = query_feature_cid_by_geohash(nei,index_root)
        if query:
            results.extend(query)
    return results

In [ ]:
%%timeit

#query
results = multi_geohash_query(geohash_neighbors,f"../data/geohash_{asset}/index")
# local retrieval
local_io_retrieval = pd.concat([gpd.read_file(path) for path in gdf[gdf.single_cid.isin(results)].single_path.tolist()])

In [ ]:
%%timeit

#query
results = multi_geohash_query(rn,f"../data/geohash_{asset}/index")

In [ ]:
#query
results = multi_geohash_query(geohash_neighbors,f"../data/geohash_{asset}/index")
# local retrieval
local_io_retrieval = pd.concat([gpd.read_file(path) for path in gdf[gdf.single_cid.isin(results)].single_path.tolist()])

## ipfs workflow

In [ ]:
# ipfs add
# run helper_scripts/ipfs_add.sh

In [ ]:
def ipfs_get_feature(cid):
    import subprocess
    subprocess.check_output(["ipfs", "get", cid])
    return gpd.read_file(f"./{cid}")

In [ ]:
os.chdir("/Users/zhengliu/easier-all/geohash-cid/notebooks/")

In [ ]:
geohash_neighbors

In [ ]:
#single query for debugging
results = multi_geohash_query(geohash_neighbors,f"../data/geohash_{asset}/index")

os.chdir("../data/test/")
#ipfs retrieval
ipfs_retrieval = pd.concat([ipfs_get_feature(cid) for cid in results])
os.chdir("../../notebooks")

In [ ]:
%%timeit
import subprocess
subprocess.check_output(["ipfs", "get", "-o","../data/test/dc","QmPaXWva3WQR2uwFdu6bkizUyRyKpX3V1aiT5dvnnYKSpJ"])
#query
results = multi_geohash_query(rn,f"../data/test/dc")

In [ ]:
%%timeit

import subprocess
subprocess.check_output(["ipfs", "get", "-o","../data/test/dc","QmPaXWva3WQR2uwFdu6bkizUyRyKpX3V1aiT5dvnnYKSpJ"])
#query
results = multi_geohash_query(rn,f"../data/test/dc")
os.chdir("../data/test/")
#ipfs retrieval
ipfs_retrieval = pd.concat([ipfs_get_feature(cid) for cid in results])
os.chdir("../../notebooks")

## Alternative 1.1 with spatial function in geopandas

In [ ]:
neighbors = qn_gdf

In [ ]:
neighbors.crs = "EPSG:4326"

In [ ]:
%%timeit

#candidate_points = gpd.read_file(f"../../data/maryland_demo/{asset}_cid.geojson")
intersections = gpd.overlay(candidate_points,neighbors)

In [ ]:
%%timeit
#candidate_points = gpd.read_file(f"../../data/maryland_demo/{asset}_cid.geojson")
gpd.sjoin(candidate_points, neighbors, how="inner", op="within")

In [ ]:
candidate_points = gpd.read_file(f"../../data/maryland_demo/{asset}_cid.geojson")
intersections = gpd.overlay(candidate_points,neighbors)

In [ ]:
# m = leafmap.Map(center=[39, -77], zoom=10)
# m.add_gdf(qn_gdf, "Queen neighbors")
# m.add_gdf(intersections,"features")
# m

In [ ]:
# check if two query are identical
(set(intersections.single_cid) - set(results)).union(set(results) - set(intersections.single_cid)) == set()

## Alternative 1.2 with native geometry function 
To find the points locating in the outer square but not in the inner square

In [ ]:
neighbors.bounds.iloc[5]

In [ ]:
lx = neighbors.bounds.minx.min()
rx = neighbors.bounds.maxx.max()
by = neighbors.bounds.miny.min()
ty = neighbors.bounds.maxy.max()
inner_lx = lx + (rx-lx) / 3.0
inner_rx = rx - (rx-lx) / 3.0
inner_ty = ty - (ty-by) / 3.0
inner_by = by + (ty-by) / 3.0

In [ ]:
lx,rx,ty,by

In [ ]:
inner_lx,inner_rx,inner_ty,inner_by

In [ ]:
def within_square(lat,lng,left,right,top,bottom):
    #print(lat,lng)
    return left <= lng <= right and bottom <= lat <= top

In [ ]:
def within_queen_neighbor(lat,lng,otl,otr,ott,otb,irl,irr,irt,irb):
    return within_square(lat,lng,otl,otr,ott,otb) and not within_square(lat,lng,irl,irr,irt,irb)

In [ ]:
candidate_points[candidate_points.apply(lambda p: within_square(p['y'],p['x'],lx,rx,ty,by),axis=1)]

In [ ]:

%%timeit

#candidate_points = gpd.read_file(f"../../data/maryland_demo/{asset}_cid.geojson")
candidate_points[candidate_points.apply(lambda p: within_queen_neighbor(p['y'],p['x'],lx,rx,ty,by,inner_lx,inner_rx,inner_ty,inner_by),axis=1)]

## Alternative method 2 with PostgreSQL database

In [ ]:
#run docker daemon and the following command to spin up postgresql
# docker-compose up

In [ ]:


import geopandas as gpd
from sqlalchemy import create_engine

# Load GeoJSON into a GeoDataFrame
gdf = gpd.read_file(f"../../data/maryland_demo/{asset}.geojson")

# Connect to PostgreSQL
engine = create_engine('postgresql://user:password@localhost:5432/geodb')

# Load data into PostgreSQL
gdf.to_postgis(f'{asset}', engine, if_exists='replace', index=False)

In [ ]:
import psycopg2

# Parameters for connection
params = {
    'dbname': 'geodb',
    'user': 'user',
    'password': 'password',
    'host': 'localhost',
    'port': '5432'
}

# Create a connection and cursor
conn = psycopg2.connect(**params)
cur = conn.cursor()

# Execute the CREATE INDEX command
cur.execute(f'CREATE INDEX ON {asset} USING gist(geometry)')

# Commit the changes and close the connection
conn.commit()
cur.close()
conn.close()

In [ ]:
neighbors

In [ ]:
# store query target geodataframe into database
neighbors.crs = "EPSG:4326"
neighbors.to_postgis("temp_table", engine, if_exists="replace")

In [ ]:
%%timeit
conn = psycopg2.connect(**params)
# Create a new cursor
cur = conn.cursor()

# Execute a COUNT SQL
sql = f"""
SELECT COUNT(*) FROM 

(SELECT {asset}.geometry
FROM {asset}, temp_table
WHERE ST_Intersects({asset}.geometry, temp_table.geometry)) AS R;
"""
cur.execute(sql)

# Fetch the result
count = cur.fetchone()[0]

# Close the cursor and connection
cur.close()
conn.close()

print(f"Total number of rows in the table: {count}")

In [ ]:
sql = f"""
SELECT {asset}.*
FROM {asset}, temp_table
WHERE ST_Intersects({asset}.geometry, temp_table.geometry);
"""

In [ ]:
%%timeit


# Fetch the results into a DataFrame or a GeoDataFrame
df_result = gpd.read_postgis(sql, engine,geom_col="geometry")

In [ ]:
df_result = gpd.read_postgis(sql, engine,geom_col="geometry")
df_result